language: bash

env:
  global:
  - IMAGE_NAME=${DOCKER_USERNAME}/spark-custom

matrix:
  include:
  # Debian builds
{%- for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
    - DIST=debian
{%- endfor %}

  # Alpine builds
{%- for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
    - DIST=alpine
{%- endfor %}
  
script:
- HIVE_TAG_SUFFIX="$(if [ "${WITH_HIVE}" = "true" ]; then echo _hive; fi)"
- PYSPARK_TAG_SUFFIX="$(if [ "${WITH_PYSPARK}" = "true" ]; then echo _pyspark; fi)"
- TAG_NAME="${SPARK_VERSION}_hadoop-${HADOOP_VERSION}${HIVE_TAG_SUFFIX}${PYSPARK_TAG_SUFFIX}_${DIST}"
- |-
  docker build ${DIST}/ -t "${IMAGE_NAME}:${TAG_NAME}" \
    --build-arg "SPARK_VERSION=${SPARK_VERSION}" \
    --build-arg "HADOOP_VERSION=${HADOOP_VERSION}" \
    --build-arg "WITH_HIVE=${WITH_HIVE}" \
    --build-arg "WITH_PYSPARK=${WITH_PYSPARK}" \
    ;

deploy:
  provider: script
  script: bash push-images.sh

branches:
  only:
  - master
